@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 672px;
  height: 468px;
  background-color: #EBF1FF;
}

body {
  width: 672px;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(30, 34, 43, 0.25);
}
